name: Tests

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - name: Install dependencies
        run: go get .
      
      - name: Build
        run: go build -v ./...
      
      - name: Test
        run: go test -v ./...
